.cart-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    height: auto;
    padding: 10px 5px;
    background-color: #1F2123;
    z-index: 1;
}

.cart-menu p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;  
}

.cart-menu span {
    margin-right: 10px;
}
.cart-menu button {
    padding: 0px 5px !important;
    color: red !important;
    border-radius: 0 10px;
    border-color: #ff0000 !important;
}
.cart-menu button:hover {
    background-color: #ff0000;
    box-shadow: #ff0000 1px 1px 10px 0;
    color: #fff !important;
}
p 
{
    margin-bottom: 0;
    margin-top: 0;
}
.cart-footer {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 10px;
}